.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  width: 350px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputGroup input {
  border: 1px solid var(--icon);
  border-radius: 48px;
  background: none;
  outline: none;
  padding: 8px 16px;
  caret-color: var(--text);
  color: var(--text)
}

.inputGroup input::placeholder {
color: var(--hint);
}
.loginButton {
  border: 1px solid var(--icon);
  color: var(--text);
  border-radius: 48px;
  padding: 8px;
}
.loginButton:disabled {
  opacity: .4;
  cursor: auto;
}