.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--light-bg);
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 40px;
  border-radius: 32px ;
  margin-left: 32px;
}
.pagesLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.pagesLinks a {
  text-decoration: none;
}
.linkItem {
  display: flex;
  gap: 16px;
}
.sidebarToggle {
  position: absolute;
  right: 0;
  bottom: calc(50% - 9px);
}



.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}



.icons {
  display: flex;
  gap: 22px;
  justify-content: center;
}
.Sidebar.collapsed {
  width: 50px;
  padding: 32px 9px 16px 9px;
  margin-left: 12px;
}
.collapsed .icons {
  flex-direction: column;
  gap: 16px;
}
.collapsed .sidebarToggle {
  right: calc(50% - 9px);
}
.collapsed .switchers {
  gap: 10px;
}